<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="editdiv">
        <form action="/editname" method="post">
            <input type="text" name="previous" value="<%= filename %>" >
            <input type="text" name="new" placeholder="New Name">
            <input type="submit" value="Change Name">
        </form>
    </div>
</body>

</html>
